In [3]:
#esercizio 3 - insurance

In [5]:
import pandas as pd

df=pd.read_csv('insurance.csv')

In [6]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
print(df.shape) #dimensione del dataset

(1338, 7)

In [9]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [11]:
df.groupby('region')['charges'].mean() # non ci sono differenze significative

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [12]:
df.groupby(['sex','smoker'])['charges'].mean()

sex     smoker
female  no         8762.297300
        yes       30678.996276
male    no         8087.204731
        yes       33042.005975
Name: charges, dtype: float64

In [13]:
df['bmi'].describe() # indice statistiche per massa corporea

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [ ]:


#Esercizio 4 - iris

In [14]:
df=pd.read_csv('iris.csv')

In [15]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [16]:
print(df.shape)

(150, 5)

In [17]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [19]:
df['petal_length'].mean() # ls media della lunghezza dei petali di tutte sp insieme

3.758666666666666

In [20]:
df.groupby('species')['petal_length'].mean() # la media del petalo per sp

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [21]:
df.groupby('species')['sepal_width'].agg(['mean', 'min', 'max'])# le estatistiche della larghezza sepali

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

In [ ]:

# esercizio 5 - wine

In [23]:
df=pd.read_csv('wine.csv')

In [25]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [27]:
print(df.shape)

(6497, 13)

In [28]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [29]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [ ]:

#trovare la media di concentrazione alcolica per ogni qualita

In [32]:
df['alcohol'].mean()

10.491800831149453

In [30]:
df.groupby('quality')['alcohol'].mean()

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [34]:
tot_media=df['alcohol'].mean()# comparo la media con la media totale
qualita_media=df.groupby('quality')['alcohol'].mean()
qualita_media - tot_media

quality
3   -0.276801
4   -0.311708
5   -0.654018
6    0.095752
7    0.894205
8    1.186956
9    1.688199
Name: alcohol, dtype: float64

In [35]:
df.groupby('type')['alcohol'].mean()# comparo [] alcoolica con i tipi di vino

type
red      10.422983
white    10.514267
Name: alcohol, dtype: float64

In [37]:
df.groupby('type')['pH'].mean()# comparando il pH per tipo di vino

type
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [38]:
df.groupby('quality')['pH'].mean()#comparando la qualita con i pH

quality
3    3.257667
4    3.231620
5    3.212189
6    3.217726
7    3.228072
8    3.223212
9    3.308000
Name: pH, dtype: float64

In [39]:
df.groupby('type')['sulphates'].mean() # comparando o tipo di vino con media solfati

type
red      0.658149
white    0.489847
Name: sulphates, dtype: float64

In [40]:
df.groupby('quality')['sulphates'].mean() #comparando a qualidade con a media solfati

quality
3    0.506333
4    0.505648
5    0.526403
6    0.532549
7    0.547025
8    0.512487
9    0.466000
Name: sulphates, dtype: float64

In [ ]:


#esercizio 6 - boston

In [41]:
df=pd.read_csv('boston.csv')

In [42]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [43]:
print(df.shape)

(506, 14)

In [44]:
df.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [45]:
df.groupby('chas')['medv'].mean()# controllando prezzo per distanza fiume

chas
0    22.093843
1    28.440000
Name: medv, dtype: float64

In [46]:
df['crim'].corr(df['medv'])#correlazione criminalita/prezzo

-0.3883046085868114

In [ ]:
# ce una correlazione negativa moderata, quando la criminalita aumenta , il prezzo diminuisce,
# ossia, le case custano meno dove la criminalita è piu alta.

In [47]:
df.groupby('ptratio')['rm'].mean() # media do numero de stanze rispetto al rapporto alunni/insegnante

ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

In [48]:
df.groupby('ptratio')['medv'].mean()# valore medio case rispetto al rapporto alunni insegnante

ptratio
12.6    32.733333
13.0    38.025000
13.6    50.000000
14.4    50.000000
14.7    25.717647
14.8    25.433333
14.9    40.475000
15.1    31.600000
15.2    26.276923
15.3    26.066667
15.5    32.700000
15.6    30.100000
15.9    30.250000
16.0    24.320000
16.1    24.880000
16.4    23.216667
16.6    23.856250
16.8    22.150000
16.9    19.640000
17.0    30.600000
17.3    24.700000
17.4    33.544444
17.6    30.700000
17.8    26.956522
17.9    22.363636
18.0    33.100000
18.2    22.150000
18.3    27.100000
18.4    23.131250
18.5    23.800000
18.6    24.335294
18.7    25.122222
18.8    17.350000
18.9    20.100000
19.0    24.900000
19.1    22.894118
19.2    22.805263
19.6    22.575000
19.7    21.787500
20.1    12.800000
20.2    16.611429
20.9    21.118182
21.0    17.351852
21.1    18.900000
21.2    17.093333
22.0    19.400000
Name: medv, dtype: float64

In [49]:
df['ptratio'].corr(df['rm']) #correlazione tra numero di alunni per insegnante e stanze
                        #correlazione negativa moderata,numero alunni/insegnante aumenta il numero di estanze 
                        #della casa diminuisce, ossia dove ci sono scuole peggiore si tende a havere case piu 
                        #piccole

-0.3555014945590855

In [51]:
df['ptratio'].corr(df['medv']) #correlazione tra numero di alunni per insegnante e prezzo delle casse
                            #correlazione negativa forte, nuero alunni/insegnante aumenta o prezzo delle
                            # case diminuisce in modo significativo, ossia dove ci sono scuole peggiore, 
                            # le case valgono meno.

-0.5077866855375615

In [64]:
df.groupby('rad')['age'].mean()#media di eta delle casa cambia rispetto acessibilita alle autostrade

rad
1     45.025000
2     64.770833
3     49.310526
4     60.841818
5     69.223478
6     60.142308
7     40.141176
8     67.350000
24    89.805303
Name: age, dtype: float64

In [66]:
df['rad'].corr(df['age'])#correlazione positiva tra acessibilita autostrade e idade delle case
                        # quanto maggiore il RAD  maggiore è eta delle casa

0.45602245175161366

In [67]:
df.groupby('rad')['rm'].mean()# rad e numero di stanze

rad
1     6.555850
2     6.649958
3     6.473026
4     6.133118
5     6.393157
6     6.104731
7     6.647765
8     6.950792
24    6.022152
Name: rm, dtype: float64

In [68]:
df.groupby('rad')['tax'].mean()# piu aumento il rad piu aumentano le tasse

rad
1     291.450000
2     260.666667
3     246.078947
4     335.981818
5     331.843478
6     372.884615
7     304.411765
8     301.250000
24    666.000000
Name: tax, dtype: float64

In [ ]:

#Esercizio 7 - dataframe dipendenti e dipartimenti

In [6]:
import pandas as pd

employees_df = pd.DataFrame({
    'employee_id':[101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'department_id': [1, 2, 1, 2, 3]
})


departments_df = pd.DataFrame({
    'department_id': [1, 2, 3],
    'department_name': ['HR', 'IT', 'Finance'],
    'location': ['New York', 'San Francisco', 'Chicago']
})

In [ ]:
merge_df = pd.merge(