In [3]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimproduct"
pd.read_sql(query, db_engine)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [4]:
#Esercizio 4 - Amazon
import pandas as pd

In [18]:
df= pd.read_csv('amazon.csv') #creo un dataframe usando o metodo read di pandas

In [19]:
print(df.shape)  #cosi capisco quanto grande è il dataset, la sua dimensione. Numero di righe e colonne

(20000, 2)

In [20]:
print(df.columns) #leggendo i nome delle colonne

Index(['reviewText', 'Positive'], dtype='object')

In [23]:
print(df.head(10)) # leggendo le 10 prime righe

                                          reviewText  Positive
0  This is a one of the best apps acording to a b...         1
1  This is a pretty good version of the game for ...         1
2  this is a really cool game. there are a bunch ...         1
3  This is a silly game and can be frustrating, b...         1
4  This is a terrific game on any pad. Hrs of fun...         1
5  This is a very entertaining game!  You don't h...         1
6  this is awesome and you don't need wi ti to pl...         1
7  this is awesome I bet no one even reads the re...         1
8  This is basicly the free version but with ads....         1
9  this is by far the best free app that is avail...         1

In [24]:
print(df.sample(10)) # leggendo 10 righe a caso

                                              reviewText  Positive
17535  It did not like this because it just didn't se...         0
7515   Rate it a 5 will all ways  enjoy closer to you...         1
9692   I think this game is awesome and totally worth...         1
14380  The electronic quarterlyis very helpful to stu...         1
4541   I'm not very good at cross words so it's not a...         1
905    Majesty is a very fun and adicting game.  i tr...         1
616    It is a lot of fun the kids really enjoy this ...         1
579    By boys promised I would like  Angry Birds, an...         1
18308  This app is a waste of time, and very wired. I...         0
2878   In app purchase on a 4.99 application.Are you ...         0

In [35]:
df['Positive'].value_counts() #controllando le recensione, se vede che la maggior parte è positva

Positive
1    15233
0     4767
Name: count, dtype: int64

In [ ]:
#Esercizio 5 - Diabetes

In [41]:
df=pd.read_csv('diabetes.csv')

In [37]:
df.shape #controllo la dimenzione

(768, 9)

In [42]:
df.columns

Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

In [44]:
df.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [48]:
df.describe() #misura estatitistica dei numeri

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [50]:
#selezionando fascia di età usando il filtro loc

fascia_20_29= df.loc[(df['Age (years)'] >=20) & (df['Age (years)'] <=29)]
fascia_20_29.shape

(396, 9)

In [52]:
#selezionando fascia di età usando il filtro loc

fascia_30_39= df.loc[(df['Age (years)'] >=30) & (df['Age (years)'] <=39)]
fascia_30_39.shape

(165, 9)

In [68]:
#selezionando fascia di età usando il filtro loc

fascia_40_50= df.loc[(df['Age (years)'] >=40) & (df['Age (years)'] <=50)]
fascia_40_50.shape

(126, 9)

In [71]:
# controllando il percentuale di ogni fascia etaria

totale=len(df)
print('Tot_paziente:',totale)

Tot_paziente: 768

In [80]:
totale=len(df)
print("Tot_paziente:", totale)

percentuale_20_29 = (len(fascia_20_29)) / totale * 100
percentuale_30_39 = (len(fascia_30_39)) / totale * 100
percentuale_40_50 = (len(fascia_40_50)) / totale * 100
print("percentuale_20_29 anni:", percentuale_20_29)
print("percentuale_30_39 anni:", percentuale_30_39)
print("percentuale_40_50 anni:", percentuale_40_50)

Tot_paziente: 768
percentuale_20_29 anni: 51.5625
percentuale_30_39 anni: 21.484375
percentuale_40_50 anni: 16.40625